# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
#/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# InnoSetups custom folder holding the installer exe
Build/*
!Build/README.txt

#####################################################################
# clear also "C:\Users\...\Documents\gitignore_global.txt" for .obj
#####################################################################


# Remove some model to save space
Assets/Helicopters_Available/AgustaAW109/**/*.obj
Assets/Helicopters_Available/AgustaAW109/**/*.png
Assets/Helicopters_Available/AgustaAW109/**/*.fbx
Assets/Helicopters_Available/AgustaAW109/**/*.wav
Assets/Helicopters_Available/AgustaAW109/**/*.jpg

Assets/Helicopters_Available/AH-1W_Super_Cobra/**/*.obj
Assets/Helicopters_Available/AH-1W_Super_Cobra/**/*.png
Assets/Helicopters_Available/AH-1W_Super_Cobra/**/*.fbx
Assets/Helicopters_Available/AH-1W_Super_Cobra/**/*.wav
Assets/Helicopters_Available/AH-1W_Super_Cobra/**/*.jpg

Assets/Helicopters_Available/AH56_Cheyenne/**/*.obj
Assets/Helicopters_Available/AH56_Cheyenne/**/*.png
Assets/Helicopters_Available/AH56_Cheyenne/**/*.fbx
Assets/Helicopters_Available/AH56_Cheyenne/**/*.wav
Assets/Helicopters_Available/AH56_Cheyenne/**/*.jpg

Assets/Helicopters_Available/Bell206/**/*.obj
Assets/Helicopters_Available/Bell206/**/*.png
Assets/Helicopters_Available/Bell206/**/*.fbx
Assets/Helicopters_Available/Bell206/**/*.wav
Assets/Helicopters_Available/Bell206/**/*.jpg

Assets/Helicopters_Available/Bell222/**/*.obj
Assets/Helicopters_Available/Bell222/**/*.png
Assets/Helicopters_Available/Bell222/**/*.fbx
Assets/Helicopters_Available/Bell222/**/*.wav
Assets/Helicopters_Available/Bell222/**/*.jpg

Assets/Helicopters_Available/Bell61/**/*.obj
Assets/Helicopters_Available/Bell61/**/*.png
Assets/Helicopters_Available/Bell61/**/*.fbx
Assets/Helicopters_Available/Bell61/**/*.wav
Assets/Helicopters_Available/Bell61/**/*.jpg

Assets/Helicopters_Available/BO105/**/*.obj
Assets/Helicopters_Available/BO105/**/*.png
Assets/Helicopters_Available/BO105/**/*.fbx
Assets/Helicopters_Available/BO105/**/*.wav
Assets/Helicopters_Available/BO105/**/*.jpg

Assets/Helicopters_Available/EC135/**/*.obj
Assets/Helicopters_Available/EC135/**/*.png
Assets/Helicopters_Available/EC135/**/*.fbx
Assets/Helicopters_Available/EC135/**/*.wav
Assets/Helicopters_Available/EC135/**/*.jpg

# Assets/Helicopters_Available/Logo600SE_V3/

Assets/Helicopters_Available/OH-6/**/*.obj
Assets/Helicopters_Available/OH-6/**/*.png
Assets/Helicopters_Available/OH-6/**/*.fbx
Assets/Helicopters_Available/OH-6/**/*.wav
Assets/Helicopters_Available/OH-6/**/*.jpg

Assets/Helicopters_Available/SA315b_Lama/**/*.obj
Assets/Helicopters_Available/SA315b_Lama/**/*.png
Assets/Helicopters_Available/SA315b_Lama/**/*.fbx
Assets/Helicopters_Available/SA315b_Lama/**/*.wav
Assets/Helicopters_Available/SA315b_Lama/**/*.jpg

Assets/Helicopters_Available/SA342_Gazelle/**/*.obj
Assets/Helicopters_Available/SA342_Gazelle/**/*.png
Assets/Helicopters_Available/SA342_Gazelle/**/*.fbx
Assets/Helicopters_Available/SA342_Gazelle/**/*.wav
Assets/Helicopters_Available/SA342_Gazelle/**/*.jpg

Assets/Helicopters_Available/SikorskyS48/**/*.obj
Assets/Helicopters_Available/SikorskyS48/**/*.png
Assets/Helicopters_Available/SikorskyS48/**/*.fbx
Assets/Helicopters_Available/SikorskyS48/**/*.wav
Assets/Helicopters_Available/SikorskyS48/**/*.jpg

Assets/Helicopters_Available/SikorskyS61/**/*.obj
Assets/Helicopters_Available/SikorskyS61/**/*.png
Assets/Helicopters_Available/SikorskyS61/**/*.fbx
Assets/Helicopters_Available/SikorskyS61/**/*.wav
Assets/Helicopters_Available/SikorskyS61/**/*.jpg

Assets/Helicopters_Available/SikorskyS67/**/*.obj
Assets/Helicopters_Available/SikorskyS67/**/*.png
Assets/Helicopters_Available/SikorskyS67/**/*.fbx
Assets/Helicopters_Available/SikorskyS67/**/*.wav
Assets/Helicopters_Available/SikorskyS67/**/*.jpg

Assets/Helicopters_Available/TRex450L_Dominator_6S/**/*.obj
Assets/Helicopters_Available/TRex450L_Dominator_6S/**/*.png
Assets/Helicopters_Available/TRex450L_Dominator_6S/**/*.fbx
Assets/Helicopters_Available/TRex450L_Dominator_6S/**/*.wav
Assets/Helicopters_Available/TRex450L_Dominator_6S/**/*.jpg

Assets/Helicopters_Available/Tron5p5/**/*.obj
Assets/Helicopters_Available/Tron5p5/**/*.png
Assets/Helicopters_Available/Tron5p5/**/*.fbx
Assets/Helicopters_Available/Tron5p5/**/*.wav
Assets/Helicopters_Available/Tron5p5/**/*.jpg



# Remove 
#[Aa]ssets/Scripting/Build_Settings.asset

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Blender backups
*.blend1
